// 타입스크립트용
// {
//   "env": {
//     "browser": true,
//     "es2021": true,
//     "node": true
//   },
//   "plugins": ["react", "@typescript-eslint", "react-hooks"],
//   "extends": [
//     "plugin:react/recommended",
//     "plugin:@typescript-eslint/eslint-recommended",
//     "plugin:@typescript-eslint/recommended",
//     "prettier",
//     "plugin:react-hooks/recommended"
//   ],
//   "settings": {
//     "react": {"version": "detect"}
//   },
//   "parser": "@typescript-eslint/parser",
//   "parserOptions": {
//     "ecmaVersion": 12,
//     "sourceType": "module",
//     "project": ["tsconfig.json"],
//     "createDefaultProgram": true
//   },
//   "rules": {
//     "react/react-in-jsx-scope": "off",
//     "react-hooks/rules-of-hooks": "error",
//     "react-hooks/exhaustive-deps": "warn",
//     "@typescript-eslint/explicit-module-boundary-types": "off",
//     "@typescript-eslint/no-explicit-any": "off"
//   },
//   "overrides": [
//     {
//       "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
//       "rules": {"@typescript-eslint/explicit-function-return-type": "off"}
//     }
//   ]
// }

// 자바스크립트용
// {
//   "env": {
//     "browser": true,
//     "es2021": true,
//     "node": true
//   },
//   "plugins": ["react", "prettier", "react-hooks"],
//   "extends": [
//     "plugin:react/recommended",
//     "prettier",
//     "plugin:react-hooks/recommended"
//   ],
//   "settings": {
//     "react": {
//       "version": "detect"
//     }
//   },
//   "parserOptions": {
//     "ecmaVersion": 12,
//     "sourceType": "module"
//   },
//   "ignorePatterns": ["build/", "node_modules/"],
//   "rules": {
//     "no-console": 1,
//     "react/react-in-jsx-scope": "off",
//     "react-hooks/rules-of-hooks": "off",
//     "react-hooks/exhaustive-deps": "off",
//     "no-unused-vars": "error"
//   },
//   "overrides": [
//     {
//       "files": ["*.js", "*.jsx"]
//     }
//   ]
// }